<!-- pod Section -->
<section id="pod">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nicotine salts + sub-ohm</h2>
                <img src="img/pod-shadow.png" class="img-responsive vertipod-main-img" alt="pod">                                
                <h3 class="section-subheading">The first sub-ohm pod plug and play for nicotine salts.</h3>
            </div>
        </div>
    </div>
</section>
